allow init blkid_exec:file { getattr };
allow init incident_exec:file { getattr };
allow init incident_helper_exec:file { getattr };
allow init migrate_legacy_obb_data_exec:file { getattr };
allow init runas_exec:file { getattr };
allow init simpleperf_app_runner_exec:file { getattr };
allow init tcpdump_exec:file { getattr };
allow init viewcompiler_exec:file { getattr };

allow init adb_data_file:dir { search };
